@font-face {
    font-family: 'Song Myung', serif;
    src: url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
    font-weight: normal;
    font-style: normal;
}

:root{
    --lightblue: #cadefc; 
    --lightpink: #ffcccc;
    --lightgreen: #e0ffcd;
    --lightgray: #F3F3F3;
    --lightyellow: #fdffcd;
}

html, body{
    height: 100%;
    margin: 0; 
    font-family: 'Song Myung';
    min-width: 320px;
}

header {
    position: sticky;
    top: -4px;
    opacity: 0.8;
    backdrop-filter: blur(30px);
    background-color: white;
    color: black;
    padding-left: 36px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

body{
    padding: 20px; 
}

*{
    box-sizing: border-box;
}

main{
    display: block;
    margin-left: 100px;
    margin-top: 40px;
    position: left;
    overflow: hidden;
    line-height: 36px;
    font-size: 36px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 80px;
    z-index: 1;
    transition: 0.6s;
    position: fixed;
    background: var(--lightgray);
    border-radius: 16px;
    padding: 16px;
}

.sidebar > span{
    display: block;
    font-size: 1.4rem;
    color: black;
    transition: 0.6;
    margin-bottom: 12px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    font-size: 16px;
    margin-left: 90px;
    align-content: flex-start;
    margin-bottom: 40px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    padding: 12px;
    background-color: var(--lightyellow);
    margin: 12px;
    border-radius: 12px;
}

.card > img{
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 8px;
}

.card > span{
    text-align: left;
    word-break: break-all;
}

footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 12px;
    min-height: calc(8% - 12px);
}


@media (max-width: 1280px){
    .card{
        background: var(--lightblue);
    }
}

@media (max-width: 1024px){
    .card{
        background: var(--lightpink);
    }
}


@media (max-width: 768px){
    .card{
        background: var(--lightgreen);
    }
    main{
        font-size: 20px;
        line-height: 16px;
    }
}

@media (max-width: 481px){
    .card{
        background: var(--lightyellow);
    }
    main{
        font-size: 20px;
        line-height: 16px;
    }
}